html, body {
  height: 100%;
}

body {
  background-color: black;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

main {
  height: 100%;
}

.brand-logo {
  display: block;
  height: 100%;
}

img.brand-image.responsive-img {
  height: 100%;
}

.interface {
  height: 100%;
  background-color: white;
}

.earth {
  height: 100%;
}
