html, body {
  height: 100%;
}

body {
  background-color: black;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

main {
  height: calc(100% - 64px);
}

.brand-logo {
  display: block;
  
  height: 100%;
}

img.brand-image.responsive-img {
  height: 100%;
}

.interface {
  height: 100%;
  overflow: auto;
  background-color: white;
}

.earth {
  height: 100%;
}

.nav-wrapper {
  background-color: #19b698;
}
